@charset "UTF-8";

body *{
	box-sizing: border-box;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.section-area{
	padding: 30px;
	height: 100vh;
	background-color: #ccc;
}
.section-area p{
}

.section-box{
	opacity: 0;
	margin-top: 30px;
}

